.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardSectionMain {
  display: flex;
  flex-direction: row;
  padding-right: 3em;
  padding-left: 3em;
}
.featuredMainDiv {
  border-style: solid;
  width: 50em;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 80em;
}
.featuredText{
  font-size: 2em;

}

.featuredCards{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  margin: 1em;
}

.titleMain{
  display: flex;
  justify-content: center;
}
.bookicon{
  height: 5em;
  width: 5em;
  margin-top: 10px;
  margin-right: 10px;
}
.bookcardmaindiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.bookcardmain {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 50px;
  border-style: solid;
  align-items: center;
  
}

.mainTitle {
  padding: 10px;
  font-size: 4em;
}

.introText {
  padding: 10px;
  margin-left: 5em;
  margin-right: 5em;
}

img {
  height: 12em;
  width: 12em;
}
.bookdesc {
  padding-top: 10px;
  max-width: 9em;
  margin: 10px;
}
.descMain{
  display: flex;
}
.book-title {
  margin-bottom: 10px;
}

.bookimg {
  padding: 10px;
}

.socialsIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 2em;
}

.icon {
  padding: 10px;
  height: 5em;
  width: 5em;
}

.burgermenu {
  height: 5em;
  width: 5em;
}

.pageselector {
  justify-content: center;
  display: flex;
  padding-left: 70px;
}

.pageoption {
  padding: 10px;
  border-style: solid;
  padding: 15px;
}




.featuredMobileMainDiv{
  max-width: 20em;
  display: flex;
  flex-direction: column;
  border-style: solid;
}

.featuredMobileCards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  margin: 1em;
}

.bookcardmainclicked{
  display: flex;
    flex-direction: row;
    border-style: solid;
    align-items: center;
  background-color: gray;

}

@media (min-width: 1200px) {
  .burgerMain {
    display: none;
  }
  .bookcardmaindiv {
    flex-direction: row;
    flex-wrap: wrap;
    
  }
  .bookcardmain {
    display: flex;
    flex-direction: row;
    border-style: solid;
    align-items: center;
  }

  .cardtext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 10em;
  }
  .featuredMobileMainDiv{
    display: none;
  }
  
}



@media (min-width: 500px) and (max-width: 1200px) {
  .pageselector,
  .bookicon {
    display: none;
  }
  .featuredMainDiv{
    display: none;
  }
  .cardSectionMain{
    flex-direction: column;
  }
  
  
}
