.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleMain{
  display: flex;
  justify-content: center;
}
.bookicon{
  height: 5em;
  width: 5em;
  margin-top: 10px;
  margin-right: 10px;
}
.bookcardmain {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 50px;
  border-style: solid;
  align-items: center;
}

.mainTitle {
  padding: 10px;
  font-size: 4em;
}

.introText {
  padding: 10px;
}

img {
  height: 12em;
  width: 12em;
}
.bookdesc {
  padding-top: 10px;
}
.book-title {
  margin-bottom: 10px;
}

.bookimg {
  padding: 10px;
}

.socialsIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 2em;
}

.icon {
  padding: 10px;
  height: 5em;
  width: 5em;
}

.burgermenu {
  height: 5em;
  width: 5em;
}

.pageselector {
  justify-content: center;
  display: flex;
  padding-left: 70px;
}

.pageoption {
  padding: 10px;
  border-style: solid;
  padding: 15px;
}

@media (min-width: 1200px) {
  .burgerMain {
    display: none;
  }
}

@media (min-width: 500px) and (max-width: 1200px) {
  .pageselector,
  .bookicon {
    display: none;
  }
}
